.form{
	display: -webkit-flex;
	display: flex;
	
	webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	webkit-justify-content: space-around;
	justify-content: space-around;
}

.form-area{
	display: block;
	width: 300px;
	margin-bottom: 15px;
}



input, select {
	display: block;
}



.text{
	padding: 5px;
}

@media (max-width: 920px) {
	.form{
		webkit-justify-content: flex-start;
	justify-content: flex-start;
	}
})